/* :root {
    // Cores do tema Escuro

    --main_color: #292929;
    --secondary_color: #ffffff;
    --primary_color: #000957;
    --primary_color_light: #353744;
    --primary_color_medium: #4a538f;
    --complementary_color: #835e00;
    --background_color: #3c3c3c;
    --background_page_color: #353744;
    --ok_color: #a0ffa0;
    --error_color: #ffd3d3;

    --font_title: "Merriweather", serif;
    --font_mono: "Roboto Mono", monospace;
    font-size: 10px;
} */

:root { 
    /* Cores do tema claro */

    --main_color: #fff;
    --secondary_color: #000;
    --primary_color: #000E8B;
    --primary_color_light: #CED6FD;
    --primary_color_medium: #000E8B;
    --complementary_color: #C28B00;
    --background_color: #F0F0F0;
    --background_page_color: #E5EAFF;
    --ok_color: #006900;
    --error_color: #630000;

    --font_title: "Merriweather", serif;
    --font_mono: "Roboto Mono", monospace;
    font-size: 10px;
}

body{
    color: var(--secondary_color);
}

#root {
    min-height: 100vh;
    height: 100%;
    font: 1.6rem normal Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background_page_color);
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn1 {
    background-color: var(--complementary_color);
    color: var(--secondary_color);
    padding: .3rem 1rem;
    border-radius: .5rem;
    font-weight: bold;
}

.title {
    font-family: var(--font_title);
    font-weight: 900;
    font-style: normal;
    font-size: 2.4rem;
    margin: 4rem auto 4rem auto;
    text-align: center;
    max-width: 70%;
}

.title2 {
    font-family: var(--font_title);
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    margin: auto auto 4rem auto;
    text-align: center;
}

.icone {
    width: 1.5rem;
}

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--primary_color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    padding: 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2; /* Header na frente */
}

.popUp_header {
    display: block;
    position: absolute;
    top: 5rem; /* Posiciona abaixo do header */
    left: 0;
    background-color: var(--background_color);
    color: var(--secondary_color);
    border-radius: 0 0 .5rem 0;
    box-shadow: .4rem .4rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 1; /* Pop-up atrás do header */
}

.popUp_header.open {
    animation: goToBottom .3s ease-out;
}

.popUp_header.close {
    animation: goToTop .3s ease-out;
}

@keyframes goToTop {
    from {
        top: 5rem; /* Começa no topo */
    }
    to {
        top: -5rem; /* Termina abaixo do header */
    }
}

@keyframes goToBottom {
    from {
        top: -5rem; 
    }
    to {
        top: 5rem; 
    }
}

.popUp_header li {
    padding: .6rem 1.2rem;
    border-bottom: 1px solid black;
}

.popUp_header li:last-of-type {
    border-bottom: none;
    border-bottom-right-radius: .5rem;
}

.popUp_header li:hover {
    background-color: var(--primary_color_light);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding-bottom: 5rem;
    width: fit-content;
    min-height: calc(100vh - 8rem); /* 8rem = Height do header + footer */
    height: calc(100% - 8rem);
    background-color: var(--main_color);
    z-index: 0;
    overflow: visible;
}

/* Comfigurações da section de operações  */
.section_operation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary_color_light);
    padding: 1rem;
    max-width: fit-content;
    width: 100%;
    border-radius: .5rem;
    box-shadow: .2rem .2rem 1.2rem rgba(0, 0, 0, 0.15);
    margin: 0 1rem 4.5rem 1rem;
}

.btn_setings, .btn_fechar {
    align-self: flex-end;
    font-size: 2rem;
    color: var(--secondary_color);
    padding: 0;
}

.img_invert {
    filter: brightness(0) invert(1);
}

.div_equation {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    gap: 2.7rem;
    padding: 2rem 2rem .5rem 2rem;
}

.equation {
    font-size: 2.4rem;
    font-family: var(--font_mono);
}

#equation_result {
    width: 6rem;
    border-radius: .5rem;
    margin: 0 1rem;
    border: none;
    text-align: center;
}

#equation_result:focus {
    outline: none;
}

.acertou {
    color: var(--ok_color);
}

.errou {
    color: var(--error_color);
}

/* Comfigurações da section de comfigurações da equação  */

.equationSetings {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.equationSetings p {
    text-align: center;
    margin-bottom: 2rem;
}

.equationSetings input[type="checkbox"] {
    width: 1.6rem;
    height: 1.6rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--main_color);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--primary_color_medium);
}

.equationSetings label {
    display: flex;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
}

.container_select_all {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 2rem;
}

.text_align_right {
    text-align: right;
}

.container_select_numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select_numbers {
    display: flex;
    flex-direction: column;
}

.container_select_operator {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#select_operator {
    width: fit-content;
    font-size: 1.8rem;
    border-radius: .4rem;
}

#select_number1 {
    align-items: start;
}


#select_number2 {
    align-items: end;
}

.btn_apply {
    margin: 1rem auto 0 auto;
}

/* Tabuadas */
.section_goTabuadas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.container_tabuada {
    display: flex;
    justify-content: space-between;
    min-width: 25rem;
    max-width: 30rem;
    margin-bottom: 1.8rem;
}

/* Footer  */
footer {
    background-color: var(--primary_color);
    color: white;
    min-height: 3rem;
    display: flex;
    align-content: center;
    justify-items: end;
    margin: auto;
    width: 100%;
}

footer p {
    margin-right: 1.5rem;
}

footer p a {
    transition: .3s;
    font-weight: bold;
}

footer p a:hover {
    transition: .3s;
    color: var(--primary_color_light);
}

.icone_github {
    position: relative;
    top: .2rem;
}

/* Pagina de tabuadas */


/* Media Queries */

@media screen and (min-width: 480px) {
    .nav {
        padding-left: 1rem ;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        font-weight: bold;
        transition: .3s;
    }

    .nav ul li:hover {
        cursor: pointer;
        color: var(--primary_color_light);
        transition: .3s;
    }
} 
